* {
  padding: 0;
  margin: 0;
}
.nav {
  min-height: 3.5em;
  background-color: rgb(47, 10, 47);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  top: 0;
  position: sticky;
  overflow: hidden;
}
.pf {
  display: flex;
  font-size: 40px;
}
.pf:hover {
  cursor: pointer;
}

.white {
  color: rgb(231, 49, 49);
  margin-left: 30px;
}
.red {
  color: blue;
}
.iteams {
  margin-right: 50px;
}
.iteams ul {
  display: flex;
  gap: 50px;
  min-height: 3.5em;
  padding-top: 14px;
}
.iteams ul li {
  list-style: none;
}
.iteams ul li a {
  text-decoration: none;

  font-size: 25px;
  color: rgb(76, 115, 18);
  transition: color 0.6s ease;
}
.iteams ul li a:hover {
  color: rgb(23, 89, 221);
}

.iteams ul li a:hover {
  color: red;
}
@media screen and (max-width: 730px) {
  .nav {
    flex-direction: column;
  }
  .iteams ul {
    padding-left: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .white {
    margin-left: 10px;
  }
}

.main {
  background-color: black;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  /* align-items: center; */
  height: fit-content;
  gap: 10px;
}
.intro {
  padding-top: 30px;
  width: 100vw;
  height: 50vh;
  text-align: center;
  margin-bottom: 200px;

  overflow: hidden;
}
.intro .i-m {
  color: white;
  font-size: 2.5em;
  overflow: hidden;
}
h1 {
  color: white;
  font-size: 4em;
  margin-left: 135px;
  overflow: hidden;
}
.flex {
  color: red;
  font-size: xx-large;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
    margin-left: 50px;
  }
  .flex {
    font-size: 1.5em;
  }
  .intro .i-m {
    font-size: 1.5em;
  }
}
