*{
    padding: 0;
    margin: 0;
}body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    @media screen(max-width:900px){
        background-color:black;
    }
}
   .nav{
    height: 70px;
    width: 100%;
    background-color: rgb(47, 10, 47);
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
   top: 0;
   position: sticky;
  
   
   }.pf{
    display: flex;
    font-size: 40px;
   }.pf:hover{
      cursor: pointer;
   }
    
   .white{
    color: rgb(231, 49, 49);
    margin-left: 30px;

   }.red{
    color: blue;
   }.iteams{
    margin-right: 50px;

   }.iteams ul{
    display: flex;
    gap: 55px;

   }.iteams ul li{
    list-style: none;
   }.iteams ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(76, 115, 18);
   }
    @media screen and (max-width: 800px) {
        .iteams ul li a{
        font-size: 20px;
        display: block;
       }.pf{
        font-size: 30px;
       }img{
        width: 500px;
        height: auto;
       }
    }

    @media (max-width: 700px) and (min-width: 400px) {
            .iteams ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
       }.nav{
        height: 200px;
        flex-direction: column;
       }.pf{
        font-size: 25px;
        margin-left: 0px;
       
       }img{
        height: 400px;
        width: auto;
       }.white{
        margin-left: 0px;
       }.iteams{
        margin-bottom: 20px;
       }.intro{
        width: 300px;
       }
    }
    
   .iteams ul li a:hover{
    color: red;
   }.main{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }.intro{
    width:500px;
    text-align: center;
    margin-bottom: 270px;
    
   
   }.intro .i-m{
    color: white;
    font-size: larger;

   }h1{
    color: white;
    font-size: 60px;
    margin-left: 135px;

   }.flex{
    color: red;
    font-size: xx-large;
   }

  